@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$sans-serif: "Kumbh Sans",
sans-serif;
$font-reg: 400;
$font-bold: 700;

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(273, 75%, 66%);
    font-family: $sans-serif;
}

.container {
    background-color: #ffffff;
    width: 1000px;
    margin: 0 auto;
}

@media (max-width: 375px) {
    .container {
        width: 300px;
    }
}